body,
html {
    margin: 0;
    font-family: "Outfit", sans-serif;
}

.screen {
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    position: relative;
    height: auto;
    width: 90%;
    background-color: hsl(216, 50%, 16%);
    border: 1px solid hsl(216, 50%, 16%);
    border-radius: 10px;
    overflow: hidden;
}

/* top area */

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.image-crypto {
    position: relative;
    height: auto;
    width: 85%;
    border-radius: 8px;
}

.image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

.icon-container {
    display: none;
}

.content-container {
    padding-left: 8%;
    padding-top: 10%;
    max-width: 85%;
}

/* bottom area */

.content-container span {
    display: block;
    color: white;
    font-weight: 600;
}

.content-container p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 80%;
}

.crypto-row {
    display: flex;
    justify-content: space-between;
}

.crypto-entity,
.expiration {
    display: flex;
}

.crypto-entity span,
.expiration span {
    padding-left: 5px;
    font-size: 90%;
}

.expiration span {
    color: hsl(215, 51%, 70%);
}

.crypto-entity span {
    color: hsl(178, 100%, 50%);
}

.line {
    border: 0.5px solid hsl(215, 32%, 27%);
    margin-top: 6%;
}

.user-area {
    display: flex;
    padding-top: 5%;
    padding-bottom: 10%;
    align-items: center;
    justify-content: center;
}

.user-area img {
    height: auto;
    width: 12%;
    border: 1px solid white;
    border-radius: 100%;
}

.span-credit {
    padding-left: 5%;
    color: hsl(215, 32%, 27%);
}

.span-name {
    color: hsl(0, 0%, 100%);
}

/* media queries */

@media (min-width: 376px) {
    .center {
        height: auto;
        width: 250px;
    }
}

@media (max-width: 226px) {
    .crypto-row {
        display: block;
    }

    .crypto-entity {
        margin-left: 1%;
    }

    .expiration {
        margin-top: 5%;
    }

    .user-area {
        padding-left: 10%;
        padding-bottom: 10%;
    }

    .center {
        height: auto;
    }
}

/* hovers  */

.image-container:hover {
    opacity: 0.8;
}

.image-container:hover .icon-container {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
