body,
html {
    margin: 0;
    font-family: "Outfit", sans-serif;
}

.screen {
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    height: 80%;
    width: 90%;
    background-color: hsl(216, 50%, 16%);
    border: 1px solid hsl(216, 50%, 16%);
    border-radius: 10px;
    overflow: hidden;
}

.image-container {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.image-container img {
    height: auto;
    width: 85%;
    border-radius: 8px;
}

.content-container {
    padding-left: 8%;
    padding-top: 10%;
    max-width: 85%;
}

.content-container span {
    display: block;
    color: white;
    font-weight: 600;
}

.content-container p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 80%;
}

.crypto-row {
    display: flex;
    justify-content: space-between;
}

.crypto-entity,
.expiration {
    display: flex;
}

.crypto-entity span,
.expiration span {
    padding-left: 5px;
    font-size: 90%;
}

.expiration span {
    color: hsl(215, 51%, 70%);
}

.crypto-entity span {
    color: hsl(178, 100%, 50%);
}
